<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="cnstring" connectionString="Data Source=103.250.184.62,52740;Initial Catalog=admin_stationary;Persist Security Info=True;User ID=admin_stationary;Password=Pmeo24?6" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="clientname" value="MGC IMPEX PVT LTD" />
    <add key="clientaddress" value="Line no.1 – S No 36 / 3 / 2, Dagade Farm House Road, Line no.2 - Opp Trendz Furniture, Pisoli, Pune - 411060 Maharashtra India" />
    <add key="clientphone" value="" />
    <add key="clientmail" value="sales1.mgc@gmail.com" />
    <add key="mailingid" value="sales@mgcagro.com" />
    <add key="mailingpassword" value="83$1Ddtn" />
    <add key="watermark" value="" />
    <add key="applicationid" value="" />
    <add key="senderid" value="" />
    <add key="EncryptionKey" value="123456789012345678901234567890123456789012345678901234567890" />
  </appSettings>
</configuration>